# Paperless-ng
PNGX_BASE=https://paperless.example:8000
PNGX_TOKEN=your_paperless_api_token

# Open WebUI
OWUI_BASE=https://owui.example:8080
OWUI_TOKEN=your_owui_api_token

# not the name; the actual uuid (you can find it in the url after you create the knowledge base)
KB_ID=your_kb_id

# Output & options
OUT_DIR=/data
PAGE_SIZE=100
PAR_J=4
LIMIT_DOCS=0     # 0 = no limit

# Optional: logging level
LOG_LEVEL=INFO
